{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Delete Modal DaemonSet -->
  <div class="modal fade" id="delete-modal-daemonset" tabindex="-1" aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You are attempting to delete DaemonSet
            <span class="modal-body-emphasis">{{ daemonset_list.daemonsets.0.name }}</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary btn-red">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal 2 -->
  <div class="modal fade" id="delete-modal-pod" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>You are attempting to delete pod
            <span class="modal-body-emphasis" name="selected-pod-name">{{ pod_list.pods.0.name }}</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary btn-red">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Migrate Modal -->
  {% with pod=pod_list.pods.0 %}
    <div class="modal fade" id="migrate-modal-pod" tabindex="-1" aria-labelledby="migrateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="migrateModalLabel">Migrate Pod</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Pod Name</label>
                <input type="text" class="form-control" id="recipient-name"
                       value="" disabled>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Target cluster<i>*</i></label>
                <select class="form-select" id="migrate-cluster-list" aria-label="Floating label select example">
                  <option value="none" selected disabled hidden>Open this select menu</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Target node<i>*</i></label>
                <select class="form-select" id="migrate-node-list" aria-label="Floating label select example">
                  <option value="none" selected disabled hidden>Open this select menu</option>
                </select>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Delete original pod resource after migration is complete.
                </label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary btn-blue">OK</button>
          </div>
        </div>
      </div>
    </div>
  {% endwith %}

  <!-- content -->
  <section class="content">

    <div class="content-title-group">
      <h2>DaemonSet</h2>
      <div class="btn-group">
        <button
            class="btn-common btn-red btn-padding-4-12"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#delete-modal-daemonset">Delete
        </button>
      </div>
    </div>

    <div class="table-top">
      <div class="form-dropdown-wrapper">
        <div class="form-dropdown" onclick="dropdownSelected(1)">
          <a class="dropdown-select dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="dropdown-select-title">Cluster</span>
            <span id="selected-cluster-name">{{ selectedCluster }}</span>
          </a>
          <ul class="dropdown-menu" id="cluster-list">
            {% for cluster in clusters.clusters %}
              <li><a class="cluster-item" href="#">{{ cluster.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="form-dropdown" onclick="dropdownSelected(2)">
          <a class="dropdown-select dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="dropdown-select-title">Namespace</span>
            <span id="selected-namespace-name">{{ selectedNamespace }}</span>
          </a>
          <ul class="dropdown-menu" id="namespace-list">
            {% for namespace in namespaces.namespaces %}
              <li><a class="namespace-item" href="#">{{ namespace.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- content-table -->
    <div class="table-wrapper-h240">
      <table class="content-table">
        <thead class="single-line">
        <tr>
          <th></th>
          <th>State</th>
          <th>Name</th>
          <th>Namespace</th>
          <th>Image</th>
          <th>Desired</th>
          <th>Current</th>
          <th>Ready</th>
          <th>Age</th>
        </tr>
        </thead>
        <tbody id="daemonset-list">
        {% for daemonset in daemonset_list.daemonsets %}
          <tr>
            <td><input type="radio" class="form-check-input"></td>
            <td><span class="label-common label-{{ daemonset.state|lower }}">{{ daemonset.state }}</span></td>
            <td class="text-left"><a href="#node" class="label-name">{{ daemonset.name }}</a></td>
            <td>{{ daemonset.namespace }}</td>
            <td>{{ daemonset.images|join:" / " }}</td>
            <td>{{ daemonset.desired }}</td>
            <td>{{ daemonset.current }}</td>
            <td>{{ daemonset.ready }}</td>
            {% if daemonset.age == None %}
            <td></td>
            {% else %}
            <td>{{ daemonset.age }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        {% for i in number_null_records %}
          <tr><td/><td/><td/><td/><td/><td/><td/><td/></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- selected-content -->
    <div class="content-selection" id="node">
      <!-- selected -->
      <div class="selected-title-group" id="selected-daemonset">
        <h2>DaemonSet:
          <span class="selected-name"></span>
          <span class="label-common label-unavailable">Unavailable</span>
        </h2>
        <div class="selected-info">
          <p>Namespace: <span>None</span></p>
          <p>Image: <span>None</span></p>
          <p>Ready: <span>None</span></p>
        </div>
      </div>

      <!-- tab -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-service-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-service" type="button" role="tab" aria-controls="nav-service"
                  aria-selected="true" style="height: 40px">Pods
          </button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <!-- Services tab -->
        <div class="tab-pane fade show active" id="nav-service" role="tabpanel"
             aria-labelledby="nav-service-tab">
          <div class="btn-group">
            <button
                class="btn-common btn-blue btn-padding-4-12"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#migrate-modal-pod"
                id="migrateBtn"
            >Migrate
            </button>
            <button
                class="btn-common btn-red btn-padding-4-12"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#delete-modal-pod"
            >Delete
            </button>
          </div>

          <div class="table-wrapper table-wrapper-h420 margin-top-16 hidden-scroll">
            <table class="content-table">
              <thead class="single-line">
              <tr>
                <th></th>
                <th>State</th>
                <th width="20%">Name</th>
                <th>Namespace</th>
                <th>IP</th>
                <th>Node</th>
                <th>Age</th>
              </tr>
              </thead>
              <tbody id="pod-list">
                <tr><td/><td/><td/><td/><td/><td/><td/></tr>
                <tr><td/><td/><td/><td/><td/><td/><td/></tr>
                <tr><td/><td/><td/><td/><td/><td/><td/></tr>
                <tr><td/><td/><td/><td/><td/><td/><td/></tr>
                <tr><td/><td/><td/><td/><td/><td/><td/></tr>
              </tbody>
            </table>
          </div>

        </div>

        <!-- Not Available tab -->
        <div class="tab-pane fade" id="nav-na" role="tabpanel" aria-labelledby="nav-na-tab">
          <div class="not-available">Not Available</div>
        </div>

      </div>
    </div>

  </section>

  <script src="{% static "js/pages/daemonset.js" %}" type="text/javascript"></script>

{% endblock %}